<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferramentas de Apoio ao Time DEV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <!-- Título centralizado próximo ao primeiro card -->
        <h1 class="text-center mb-4">Ferramentas de Apoio ao Time DEV</h1>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Tradutor de Código</h5>
                        <p class="card-text">Envie arquivos de código para a IA explicar em markdown.</p>
                        <a href="/translator" class="btn btn-primary">Acessar</a>
                    </div>
                <!-- </div>
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Gerador de Frontend</h5>
                        <p class="card-text">Use imagens para gerar código de frontend.</p>
                        <a href="/frontend-generator" class="btn btn-primary">Acessar</a>
                    </div>
                    <p class="text-danger font-weight-bold">Indisponível devido às limitações do Modelo 1.0 PRO Vision</p>
                </div> -->
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Assistente de Testes</h5>
                        <p class="card-text">Ferramentas para geração de critérios de aceite, massa de testes e testes unitários.</p>
                        <a href="/testing-assistant" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
